.global{  width: 80%;
    margin: 20px auto 40px auto;
    background-color: #dec3d1; 
    color: #333;}
  
  .second{  width: 80%;
    margin: 20px auto 40px auto;
    background-color: #f2b10c;
    color: #333;}
  
  .ferst{  width: 80%;
    margin: 20px auto 40px auto;
    background-color: #7be6ed;
    color: #333;}